.App {
  text-align: center;
  margin: 15px;
}

.logo img{
  width: 100px;
}

.thanksMessage {
  display: inline-block;
  max-width: 500px;
  width: 100%;
  border: 1px solid black;
}

.submitVotes,
.seeResult {
  margin-top: 10px;
}

